body {
    margin: 0;
    padding: 0;
}

.wrapper {
    border: 1px solid #000;
    height: 700px;
    width: 90%;
    margin: 0 auto;
}

.header {
    background-image: url(../img/banner.jpg);
    border: 1px solid #ff80ff;
    height: 130px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 130px;
}

.menu {
    border: 1px solid #000;
    height: 50px;
    width: 100%;
    background: #00e6ac;
}

ul.list_menu {
    padding: 0;
    margin: 0;
    width: 60%;
    border: 1px solid blue;
    list-style: none;
    margin: 0 auto;
    line-height: 27px;
}

ul.list_menu li {
    float: left;
    margin: 7px;
    padding: 5px;
}

ul.list_menu li:hover {
    background: burlywood;
}

ul.list_menu li a {
    text-decoration: none;
    text-align: center;
    color: #3333ff;
}

#main {
    border: 1px solid #00ff80;
    height: 470px;
    width: 100%;
}

.sidebar {
    border: 1px solid #00ff80;
    height: 350px;
    width: 20%;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
}

ul.list_sidebar {
    padding: 0;
    margin: 0;
    width: 60%;
    border: 1px solid blue;
    list-style: none;
    line-height: 27px;

}

ul.list_sidebar li {
    float: left;
    margin: 9px;
    padding: 6px;

}

ul.list_sidebar li:hover {
    background: cadetblue;

}

ul.list_sidebar li a:hover {
    color: #fff;
}

ul.list_sidebar li a {
    text-decoration: none;
    text-align: center;
    color: #3333ff;
}

.maincontent {
    border: 1px solid #ff0000;
    height: auto;
    width: 78%;
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}

ul.product_list {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.product_list img {


    width: 100%;
}

ul.product_list li {
    border: 1px dashed #000;
    width: 15%;
    margin: 5px;
    float: left;
}
p.title_product{
text-align: center;
}
p.price_product{
    text-align: center;
    color:red;
    font-weight: bold;
}
.footer {
    border: 1px solid #ff1a8c;
    height: 100px;
    width: 100%;
    background: #00cc99;
}
p.footer_coppyright{
    text-align: center;
}
.clear {
    clear: both;
}